[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
python3-saml = "*"
gunicorn = "*"
python-dateutil = "*"
djangorestframework = "*"
requests = "*"
django-filter = "*"
rollbar = "*"
pytest = "*"
pytest-django = "*"
whitenoise = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
