.fav-icon {
  display: inline;
}

.fav-btn {
   cursor: pointer;
 }

#favoriteform {
  display: inline;
}

.navbar-dark {
  background-color: #255694 !important;
}

.galaxy-banner{
   background: url('/staticfiles/images/galaxy.png') no-repeat center;
   background-size: cover;
   padding-bottom: 10%;
}

.footer{
  background-color: #0e1015;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  width: 13rem;
}

.avatar {
  vertical-align: middle;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.avatar_md {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: auto;
}

.avatar_lg {
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.btn-circle {
    width: 2.75em;
    height: 2.75em;
    padding: 0.55em 0em;
    border-radius: 50%;
    text-align: center;
    font-size: 0.95em;
    line-height: 1.42857;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #fff; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.btn-collapse {
  font-size: 1.1em !important;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.feedback-btn {
  cursor: pointer;
}

#comments, label[for="comments"] {
  display: none;
}
