<ul class="navbar-nav pl-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="profile" role="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      {{ user.first_name }} {{ user.last_name }}
      {% if user.profile.avatar_url %}
      <img class="avatar" src="{{ user.profile.avatar_url }}">
      {% else %}
      <span class="fa-stack fa-lg">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-user-astronaut fa-stack-1x"></i>
      </span>
      {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile">
      <a class="dropdown-item"><strong>Email:</strong>{{ user.email }}</a>
      <a class="dropdown-item"><strong>Location:</strong> {{ user.profile.site }}</a>
      <a class="dropdown-item"><strong>Role:</strong>{{ user.profile.job_title }}</a>
      <div class="dropdown-divider"></div>
      <a class="text-center btn btn-outline-primary mr-2 ml-3" href="{% url "profile" %}">View Profile</a>
      <a class="float-right text-center btn btn-outline-danger mr-3 ml-3" href="{% url "logout" %}">Log out</a>
    </div>
  </li>
</ul>