{% load feedback_helpers %}
<div id="side-panel" class="sidenav border border-left">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="pl-3 text-info">{{ report.name }}</h4>
      </div>
    </div>
    <div class="alert alert-dismissible fade show" hidden role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
    <div class="row">
      <div class="col-sm-12 mt-3">
        <span class="pl-3 badge badge-light">{{ report.category }}</span>
        {% include "_favorite_button.html" %}
        {% include "_feedback_button.html" %}
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 mt-3">
        <p class="pl-3 text-secondary">{{ report.description }}</p>
      </div>
      <hr class="col-sm-10">
    </div>
    
    <div class="row">
      <div class="col-sm-3 offset-sm-1">
        <img class="avatar_md" src="{{ report.owner.profile.avatar_url }}">
      </div>
      <div class="col-sm-8">
        <h6 class="text-info">{{ report.owner.first_name }} {{ report.owner.last_name}}</h6>
        <span class="text-muted small">{{ report.owner.profile.job_title }}</span>
      </div>
    </div>
    
    <div class="row mt-5 pl-5">
      <div class="col-sm-12 text-info">
        <i class="fa fa-heart"></i> favorited by <span class="badge badge-pill badge-info">3</span>
      </div>
      <div class="col-sm-12 text-info">
        <i class="far fa-user"></i> recently viewed by <span class="badge badge-pill badge-info">10</span> 
      </div>
      {% if avg_feedback %}
      <div class="col-sm-12 text-info">
        <i class="fas {{ avg_feedback|sentiment_icon}} {{ avg_feedback|sentiment_color}}"></i> average feedback score <span class="avg-feedback badge badge-pill badge-info">{{ avg_feedback }}</span> 
      </div>
      {% endif %}
    </div>

    <hr class="col-sm-10">

    <div class="col-sm-12 pl-3">
        <a class="btn-collapse text-info" data-toggle="collapse" href="#visible-to" aria-expanded="false" aria-controls="visible-to">
          <i class="fas fa-user-tag"></i> visible to roles 
        </a>
        <div class="collapse pl-3" id="visible-to">
          {% for role in report.roles.all %}
            <span class="badge badge-light">{{ role }}</span>
          {% endfor %}
        </div>
    </div>
      
    <div class="col-sm-12 pl-3">
        <a class="btn-collapse text-info" data-toggle="collapse" href="#popular-with" aria-expanded="false" aria-controls="popular-with">
          <i class="fas fa-fire"></i> popular with roles
        </a>
        <div class="collapse pl-3" id="popular-with">
          {% for role in report.roles.all|slice:"0:4" %}
            <span class="badge badge-light">{{ role }}</span>
          {% endfor %}
        </div>
    </div>

  </div>
</div> 

