<div class='tableauPlaceholder mr-auto ml-auto' style='width: 1000px; height: 827px;'>
  <object class='tableauViz' width='1000' height='827' style='display:none;'>
    <param name='host_url' value='{{ report.host_url }}' />
    <param name='site_root' value='{{ report.site_root }}' />
    <param name='name' value='{{ report.embed_name }}' />
    <param name='toolbar' value='top' />
    <param name='embed_code_version' value='3' />
    <param name='alerts' value='no' />
    <param name='tabs' value='no' />
    <param name='subscriptions' value='no' />
    <param name='customViews' value='no' />
  </object>
</div> 
