{% extends "base.html" %}

{% block content %}

{% if paint_logout %}
{% if attributes %}
<div class="container">
  <div class="card col-sm-6 mr-auto ml-auto mt-3 pt-1">
    <img class="card-img-top" style="border-radius: 50%; width: 175px; height: 175px; margin: auto;" src="{{ attributes.profile_pic }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">{{ attributes.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Email: </strong>{{ attributes.email }}</li>
    <li class="list-group-item"><strong>Job Title: </strong> {{ attributes.job }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url "logout" %}" class="btn btn-danger float-right">Logout</a>
  </div>
</div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">You don't have any attributes</div>
{% endif %}
{% else %}
  <a href="{% url "login" %}" class="btn btn-primary">Login and access again to this page</a>
{% endif %}
</div>

{% endblock %}
