{% extends "base.html" %}

{% block content %}

{% if paint_logout %}
{% if attributes %}
<div class="container">
  <table class="table table-striped">
      <thead>
          <th>Name</th>
          <th>Values</th>
      </thead>
      <tbody>
        {% for key, value in attributes.items %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-danger" role="alert">You don't have any attributes</div>
  {% endif %}
  <a href="{% url "index" %}?slo" class="btn btn-danger">Logout</a>
  {% else %}
  <a href="{% url "index" %}?sso2" class="btn btn-primary">Login and access again to this page</a>
  {% endif %}
</div>

{% endblock %}
