{% load feedback_helpers %}
<div id="side-panel" class="sidenav border border-left">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="pl-3 text-info">{{ report.name }}</h4>
      </div>
    </div>
    {% include "_alert.html" %}
    <!--Interactive Buttons-->
    <div class="row">
      <div class="col-sm-12 mt-3">
        <span class="pl-3 badge badge-light">{{ report.category }}</span>
        {% include "_favorite_button.html" %}
        {% include "_feedback_button.html" %}
      </div>
    </div>
    <!--Report description -->
    <div class="row">
      <div class="col-sm-12 mt-3">
        <p class="pl-3 text-secondary">{{ report.description }}</p>
      </div>
      <hr class="col-sm-10">
    </div>
    <!--Report owner-->
    <div class="row">
      <div class="col-sm-11 offset-sm-1">
        <h6 class="text-secondary">Created by:</h6>
      </div>
    </div>
    <div class="row">
      {% include "_report_owner_info.html" %}
    </div>
    <!--Report stats -->
    <div class="row mt-5 pl-5">
      {% include "_report_stats.html" with icon_type="fa fa-heart" info_title="favorited by" badge_class="fav-badge" info_value=favorited_by %}
      {% if viewed_by %}
      {% include "_report_stats.html" with icon_type="far fa-user" info_title="recently viewed by" badge_class="view-count-badge" info_value=viewed_by %}
      {% endif %}
      {% if avg_feedback %}
      {% include "_report_stats.html" with icon_type="fas fa-chart-pie" info_title="average feedback score" badge_class="avg-feedback" info_value=avg_feedback %}
      {% include "_report_stats.html" with icon_type="fas {{ feedback.score|sentiment_icon }}" info_title="your feedback score" badge_class="score-badge" info_value=feedback.score %}
      {% endif %}
    </div>

    <hr class="col-sm-10">
    <!--Report visibility-->
    {% include "_report_role_stats.html" with collapse_id="visible-to" icon_type="fas fa-user-tag" collapse_title="visible to roles" roles=report.roles.all %}
  </div>
</div>
