<div class='tableauPlaceholder mr-auto ml-auto' style='width: 1100px; height: {{ report.height }}px;'>
  <object class='tableauViz' width='1100' height='{{ report.height }}' style='display:none;'>
    <param name='path' value='trusted/{{auth_ticket}}{{ report.site_root }}/views/{{report.embed_name}}' />
    <param name='toolbar' value='top' />
    <param name='alerts' value='no' />
    <param name='tabs' value='{{ report.is_tabbed|yesno }}' />
    <param name='subscriptions' value='no' />
    <param name='customViews' value='no' />
  </object>
</div>
