{% extends "base.html" %}
{% load high_health_helpers %}
{% load humanize %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-sm-7 offset-sm-1">
      <h1>High Health ({{ school_level.display_name }})</h1>
    </div>
    <div class="col-sm-3 text-right">
      <button type="button" onclick="openNav()" class="btn btn-success btn-circle hh-info" data-toggle="popover"
        data-placement="left" title="High Health Goals" data-trigger="hover"
        data-content='{% include "_hh_legend.html" %}'>
        <i class="fas fa-info"></i>
      </button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="col-sm-10 offset-sm-1">
    <table class="table table-hover mt-3">
      <thead>
        <tr class="small text-center">
          <th>Metric</th>
          <th>Updated</th>
          {% for school in schools %}
          <th class="table-{% if request.user.profile.site == school %}active{% else %}default{% endif %}">
            {{ school }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for metric in metrics %}
        <tr>
          <td style="min-width:240px">
            <i class="fas fa-info-circle text-primary pl-1 metric-def" data-toggle="popover" data-trigger="hover"
              title="{{ metric.metric }}" data-content="{{ metric.metric.definition }}"></i>
            <a href="{% if metric.metric.report %}{% url "report" metric.metric.report.id %}{% endif %}">
              {{ metric.metric }}
            </a>
          </td>
          <td class="text-center" style="min-width:110px">
            <span class="small text-muted">
              {{ metric.last_updated|naturalday }}
            </span>
          </td>
          {% for measure in metric.measures %}
          {% if measure.value is None %}
          <td class="text-center">
            <span class="text-muted">
              N/A
            </span>
          </td>
          {% else %}
          <td
            class="text-center table-{% if request.user.profile.site == measure.school %}active{% else %}default{% endif %}">
            {% with "modal_"|addstr:measure.metric.id|addstr:"_"|addstr:measure.school.id as modal_id %}
            {% with "chart_"|addstr:measure.metric.id|addstr:"_"|addstr:measure.school.id as chart_id %}
            <span data-toggle="modal" data-target="#{{ modal_id }}" class="hh_value text-{{ measure|goal_format }}"
              data-metric-id="{{ measure.metric.id }}" data-school-id="{{ measure.school.id }}">
              <span data-toggle="tooltip" data-placement="right" title="{{ measure|goal_distance }}">
                {{ measure.value|floatformat:"0" }}%
              </span>
            </span>
            {% include "_chart_modal.html" with title=measure.school  modal_id=modal_id chart_id=chart_id last_updated=measure.date %}
            {% endwith %}
            {% endwith %}
          </td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js">
</script>
<script src="{% static "js/hh_popover.js" %}"></script>
<script src="{% static "js/tooltip.js" %}"></script>
<script src="{% static "js/hh_chart_modal.js" %}"></script>

{% endblock %}